# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.egg-info/
.venv/
venv/
ENV/

# Django
E-Learning/db.sqlite3
media/
staticfiles/
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node / Frontend
node_modules/
**/node_modules/
.dist/
.build/
.cache/

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.*


