{% extends 'programs/base.html' %}

{% block title %}Participants{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Participants</h1>
    {% if request.user.is_staff %}
    {% endif %}
  </div>
  {% if participants %}
    <ul class="list-group">
      {% for p in participants %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div>
            <strong>{{ p.name }}</strong> — {{ p.email }} <small class="text-muted">{{ p.organization }}</small>
          </div>
          <div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No participants yet.</p>
  {% endif %}
{% endblock %}
